@model MvcKutuphaneProjesi.Models.Entity.TBLPERSONEL
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <div style="margin-top:15px"></div>
    <label style="padding:8px 14px 10px 8px">Yazar ID</label>
    @Html.TextBoxFor(p => p.personel_id, new { @class = "form-control" })
    <label style="padding:8px 14px 10px 8px">Yazar AD</label>
    @Html.TextBoxFor(p => p.personel_bilgi, new { @class = "form-control" })
    <label style="padding:8px 14px 10px 8px">Yazar SOYAD</label>

    <br />
    <button class="btn btn-warning">Personel Bilgilerini Güncelle</button>
}
